$saeed-light-primary: mat-palette($mat-grey, 200, 500, 300);
$saeed-light-accent: mat-palette($mat-brown, 200);
$saeed-light-warn: mat-palette($mat-deep-orange, 200);

$saeed-light-theme: mat-light-theme(
  $saeed-light-primary,
  $saeed-light-accent,
  $saeed-light-warn
);
