$saeed-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$saeed-nature-accent: mat-palette($mat-deep-purple, 300);
$saeed-nature-warn: mat-palette($mat-red, 600);

$saeed-nature-theme: mat-light-theme(
  $saeed-nature-primary,
  $saeed-nature-accent,
  $saeed-nature-warn
);
